@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: lighter;
}

header {
    width: 100%;
    height: 100vh;
}

.navbar-nav .nav-item a {
    color: #F8F9FA !important;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.navbar-nav .nav-item a:hover {
    color: #DC3543 !important;
}

.navbar-nav .nav-item a .active {
    color: #DC3543 !important;
}

.navbar-nav .nav-item a .active:hover {
    color: #F8F9FA !important;
}

.dropdown-menu {
    background: #DC3543;
}

.content {
    width: 95%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo {
    width: 475px;
    padding: 0;
    margin: 1% 1% 1% 2%;
    line-height: 60px;
    float: left;
    color: #F8F9FA;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav .black ul {
    background: #1D1D1D;
}

nav ul li {
    padding: 0 40px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #1D1D1D;
    text-align: right;
    box-sizing: border-box;
    cursor: pointer;
    color: #F8F9FA;
    display: none;
}

.navbar_black {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-color: #1D1D1D;
}

.navbar_transparent {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background-color: transparent;
}

@media (max-width: 1360px) {
    .logo {
        top: 0;
        margin-top: 16px;
    }

    nav.black ul {
        background: #1D1D1D;
    }

    .showing {
        max-height: 34em;
    }

    .menu-icon {
        display: block;
    }
}

/*---------------------------NAVBAR END--------------------------------*/

.parallax {
    /* The image used */
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.25),
            rgba(0, 0, 0, 0.25)
    ),
    url("../imgs/homebackground.jpg");

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------COPY END--------------------------------*/
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: 0;
    background-image: linear-gradient(to top, #DC3543 1%, #1D1D1D 99%);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 45vh;
    left: 370px;
    transform: translate(-50%, -50%);
    color: #F8F9FA;
    z-index: 90;
}

.slogan {
    font-size: 100px;
    line-height: 82px;
}

@media (max-width: 700px) {
    .hero-text {
        display: none;
    }
}
